<!Doctype html>
<html>
    <head>
        <title>Spookelton Beta 1.0</title>
    </head>
    <body>
        <p>Spookelton Beta Site 1.0</p>
        <a href='/login'>Login</a>
        <a href='/giveaway'>Giveaway</a>
        <a href='/info'>Raw Info [JSON]</a>
    </body>
</html>
